/*
  Parts of this code is inspired from the following:
  [1] https://userstyles.org/styles/127801/dark-night
*/

html {
  filter: invert(100%) !important;
  background-color: #131313 !important;
  -webkit-filter: invert(100%) !important;
}

img, video {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}
