html {background: #333 !important}

html * {
  color: #b8b8b8 !important;
  border-color: #393939 !important;
  background-color: #272727 !important;
}

a, a * {color: #89a9d1 !important}
img[src]:hover, input[type=image]:hover {opacity: 1}
input, select, button, textarea {background: #4a4a4a !important}
a:visited, a:visited *, a:active, a:active * {color: #525f66 !important}

input[type=radio] {
  border-width: 0 !important;
  background: none !important;
}
