body {
  border: 0;
  width: 750px;
  font-size: 12px;
  margin: 5px auto 0 auto;
  font-family: arial, sans-serif;
}

html {
  border: 0;
  padding: 5px;
}

button {
  cursor: pointer;
}

input[type=checkbox] {
  display: block;
  margin-right: 5px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(239, 239, 239) 38%, rgb(232, 232, 232));
}

p {
  padding: 0 10px;
  line-height: 18px;
}

label {
  color: #333;
  padding: 2px;
  width: 235px;
  display: flex;
  font-size: 11px;
  user-select: none;
  align-items: center;
  -moz-user-select: none;
}

table {
  border: 0;
  width: 100%;
  padding: 1px;
  border-spacing: 0;
}

.content {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 366px;
}

.title {
  min-width: 50px;
  padding: 0 0 0 5px !important;
  background-color: rgba(0,0,0,0.05);
}

.comment {
  color: #0073b6;
  font-size: 12px;
  padding: 4px 5px;
  user-select: none;
}

textarea {
  color: #333;
  padding: 5px;
  outline: none;
  min-width: 500px;
  border-radius: 0;
  min-height: 150px;
  margin: 1px 0 -2px 1px;
  width: calc(100% - 2px);
  border: solid 1px rgba(0,0,0,0.2);
}

.whitelist {
  padding: 0;
  margin: 0px auto;
  border-spacing: 0px 3px;
}

.wrapper {
  border: 0;
  padding: 0;
  margin: 0 auto;
  table-layout: fixed;
  border-spacing: 1px 0;
}

.options {
  height: 600px;
  margin: 0 auto;
  font-size: 11px;
  padding: 2px 6px;
  border-spacing: 0;
  table-layout: fixed;
  border: solid 1px rgba(0,0,0,0.1);
}

.hidden {visibility: hidden}
.whitelist .comment {padding: 5px}
.hl {background-color: rgba(0,0,0,0.03)}
.wrapper tr td, .whitelist tr td {padding: 0}
.highlight {outline: solid 1px rgba(0,0,0,0.2)}
