/*
  Parts of this code is inspired from the following:
  [1] https://userstyles.org/styles/120595/gmail-dark-1
*/

.ii.gt.adP.adO table[bgcolor*="#"], .ii.gt.adP.adO div[bgcolor*="#"], .ii.gt.adP.adO td[bgcolor*="#"], .ii.gt.adP.adO tr[bgcolor*="#"], .ii.gt.adP.adO td[bgcolor*="white"], .ii.gt.adP.adO table[style*="background"], .ii.gt.adP.adO div[style*="background"], .ii.gt.adP.adO td[style*="background"], .ii.gt.adP.adO tr[style*="background"], .ii.gt.adP.adO span[style*="background"] {
  background-color: #222222 !important;
}

.ii.gt.adP.adO * {
  border-color: #00ACAF !important;
}

.ii.gt.adP.adO table, .ii.gt.adP.adO div, .ii.gt.adP.adO td, .ii.gt.adP.adO tr, .ii.gt.adP.adO span, .ii.gt.adP.adO h1, .ii.gt.adP.adO h2, .ii.gt.adP.adO h3, .ii.gt.adP.adO h4, .ii.gt.adP.adO h5, .ii.gt.adP.adO li, .ii.gt.adP.adO lo, .ii.gt.adP.adO lu, .ii.gt.adP.adO font, .ii.gt.adP.adO a[style*="color"]:link {
  color: #777 !important;
}

#gb>div {
  background: transparent none !important;
}

body, td, tr {
  color: #999 !important;
}

a {
  color: #00ffff !important;
}

.gb_qd, .J-Z, .azX, .a8D, .Kj-JD, .Kj-JD-K7, .LW-KX, .LW-KX .J-KU, .LW-KX .J-KU-Jg, .LW-KX .J-KU-Jz, .LW-KX .J-KU-Jz, .LW-KX-Jm, .gb_ja, .gb_fa, .gb_ga, .gb_ab, .gb_Ba, .ICsgXc, .agd .J-M-JJ input, .ahRshd, .gssb_e, .Yt, .Jm, .bX, .aB, .Zt, .cE, .qK, .qL, .Ar, .Vb, .Vf, .Kj-JD-Jz, .gb_Fd, .gb_Jd {
  background-color: #222222 !important;
}

.gb_Fd:: before {
  background-color: #555 !important;
}

.J-Z-M-I, .J-awr, body.td, .kr, .Kj-JD, .Kj-JD-K7, .LW-KX .J-KU, .LW-KX .J-KU-Jg, .LW-KX-Jm, .gb_ja, .aiv .aq, .J-LC, .J-JK, .agd .J-M-JJ input, .Jm, .ebc, .cE, .el, .Kj-JD-Jz, .aJ6 {
  color: #9C9C9C !important;
}

.nr, .p4a {
  background-color: #222 !important;
  color: #FFF !important;
}

.Yo .z-b-G, .anX .any, .aOd {
  background-image: none !important;
  background-color: #222 !important;
}

.Yo .z-b-G:hover {
  background-image: none !important;
  background-color: #555 !important;
}

.VBgE5b, .gBCQ5d {
  background-image: url("http: //i.imgur.com/nSKOI05.png") !important;
}

.J-KU.a65 .aj2 {
  background-image: url("http: //i.imgur.com/HpRrbkK.png") !important;
}

.J-KU .aH3, .J-KU-KO .aH3 {
  background: transparent url("http: //i.imgur.com/trSCDHK.png") no-repeat scroll -4px -4px !important;
}

.Kj-JD-Jl button[disabled] {
  background-color: #222222 !important;
  background-image: none;
  border: 1px solid #555;
  color: #555;
}

.Kj-JD-Jl button:focus {
  background-color: #222 !important;
}

.Kj-JD-Jl button {
  background-color: #222222 !important;
  background-image: none;
  border: 1px solid #999;
  color: #999;
}

#gb #gbwa>div>a[title="Google apps"] {
  background: transparent url("http: //i.imgur.com/77PNFVV.png") no-repeat center !important;
  border: 1px solid transparent !important;
}

.dv, .aMZ.a1, .aMZ.aA8, .aMZ.a2X, .a8G, .a8G.Je, .a8t, .a8t.Je, .a8K, .a8K.Je, .a8q, .a8q.Je, .a8L, .a8L.Je, .a8H, .a8H.Je, .a8o {
  background-image: url("http: //i.imgur.com/uvZCiUm.png");
}

.hB, .hA, .mL, .mI, .gW, .g1, .gZ, .aMZ.aA7, .og, .ank, .anl, .Gq, .aJj .aWK {
  background-image: url("http: //i.imgur.com/PixBlWT.png");
}

.ar6, .ar8, .asl, .ar9, .ase, .asb, .aos, .asf, .yE, .xL {
  background-image: url("http: //i.imgur.com/5ZlwAnU.png");
}

.adj, .adk, .amI, .amJ {
  background-image: url("http: //i.imgur.com/3WhYyZN.png");
}

.aZh, .T-aT4-JX, .aZg, .aZk {
  background-image: url("http: //i.imgur.com/AKtLL3p.png");
}

.gb_xb {
  background: #333 none !important;
}

.C1 {
  background-image: url("http: //i.imgur.com/LCKVpWS.png");
}

.ya, .Wz, .Wy, .gssb_i {
  background-color: #333 !important;
  color: #999 !important;
}

.J-Ks-KO {
  background-image: url("http: //i.imgur.com/8G4HJfC.png");
}

.Zy {
  background-image: url("http: //i.imgur.com/sN98Frs.png");
}

.asor {
  background-image: url("http: //i.imgur.com/NJg0cZJ.png");
}

.aMZ.e5, .aMZ.QT, .aaB {
  background-image: url("http: //i.imgur.com/ayUfm1v.png");
}

.aaB {
  background-image: url("http: //i.imgur.com/ayUfm1v.png") !important;
}

.b8 .vh, .cc .vh, .vX .vh, .aTv, .ajA, .SK, .Wx, .Ji {
  background: #222 !important;
  border: none !important;
  box-shadow: 0 0 5px #00ffff !important;
  color: #999 !important;
}

.b8 .a8k {
  color: #00ffff !important;
}

.gb_Xc .gb_3b, .gb_3b, .gb_4b, .gb_bc {
  background: url("http: //i.imgur.com/Uk0IhKN.png");
}

.gb_bc:: before {
  background: transparent !important;
}

.gb_Za .gb_1a {
  background: none !important;
}

.gb_0a {
  background: url("http: //i.imgur.com/FORvaNR.png") !important;
  background-position: 30px 20px !important;
  background-size: 92px !important;
  background-repeat: no-repeat !important;
}

.w-asV {
  margin-bottom: 0px !important;
}

.gb_3b:: before, .gb_4b:: before {
  background: transparent !important;
}

.gbqfqw {
  background: #444 !important;
  border: 2px solid rgb(43, 43, 43) !important;
  border-radius: .382em 0 0 .382em !important;
  box-shadow: inset 0px 0px 5px #333 !important;
}

#gbqfb {
  background: #222 !important;
  box-shadow: inset 0px 0px 5px #444 !important;
  border: none !important;
}

.gbqfi {
  background: url("http: //i.imgur.com/hcdkBCK.png") !important;
  background-position: 5px !important;
  background-repeat: no-repeat !important;
}

.a-ac-Bc-e {
  outline: none !important;
}

.j-wi {
  background: #333 !important;
  box-shadow: inset 0 0 5px #555 !important;
  border: 1px solid #111 !important;
  outline: none !important;
}

.j-ia-A-e {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.f-sa {
  border-color: #111 !important;
}

.f-e-ua {
  background: #222 !important;
  box-shadow: inset 0px 0px 5px #444 !important;
  border: 1px solid #111 !important;
  color: #999 !important;
}

.a-kg-in {
  background: #333 !important;
  box-shadow: inset 0 0 5px #555 !important;
  border: 1px solid #111 !important;
  outline: none !important;
}

.a-kg-H {
  border-left: 1px solid #111 !important;
}

.a-kg-Ga {
  background: #222 !important;
  border-color: #00ffff !important;
  box-shadow: inset 0 0 5px #555 !important
}

#gb#gb span.gb_8a {
  color: #00ffff !important;
}

a.gb_ca.gb_7 {
  background: url("http: //i.imgur.com/AvCjYMn.png") !important;
  background-position: 0px 7px !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
}

.gb_4a {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.gb_ub, .gb_sb, .gb_eb:hover .gb_jb {
  background: transparent !important;
}

.gb_eb, .gb_eb:hover:not(.gb_fb) {
  border: none !important;
}

.gb_u {
  border-bottom-color: #444 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

span.gb_B {
  background: transparent !important;
}

.gb_da.gb_7.gb_ea {
  background: url("http: //i.imgur.com/PyMhGau.png") !important;
  background-position: 0px 7px !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
  margin: 0px !important;
  border-radius: 0px !important;
  box-sizing: initial !important;
  width: 30px !important;
  height: 30px !important;
}

.aac {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.l4a, .f4a {
  background: #333 !important;
}

.gb_Zb .gb_K, .gb_0b .gb_L {
  background: url("http: //i.imgur.com/WqMRL8g.png") !important;
  background-position: 0px 7px !important;
  background-repeat: no-repeat !important;
  opacity: 1 !important;
}

.fc, .MNn0h, .Bc {
  background-color: transparent !important;
}

.g-h-f-vc-B {
  background: #444 !important;
  border: 1px solid #000 !important;
}

.g-h-f-za {
  background: #333 !important;
  border: 1px solid #111 !important;
  color: #999 !important;
}

.b-c-Ba {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.b-c-R {
  background: #333 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.gb_K, .gb_L:hover {
  background: transparent !important;
}

.gb_w {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.gb_R, .gb_1c {
  color: #00ffff !important;
}

.gb_Wc {
  color: #999 !important;
}

.gb_B .gb_a, .gb_a {
  background: #333 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.gb_ya {
  background: rgba(75, 75, 75, 0.7) !important;
}

.gb_Ha {
  background: transparent !important;
}

.gb_F {
  background: transparent !important;
}

.G-atb {
  background-color: #222;
  border-bottom: 1px solid #000;
  box-shadow: 0px 2px 3px #000 !important;
  margin-top: 0px;
  padding-top: 4px;
}

.akh {
  color: #009999 !important;
  outline: none !important;
}

.asT-asx {
  -webkit-filter: invert(100%);
}

.TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7 {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.T-I-ax7 .T-I-J3 {
  -webkit-filter: invert(100%);
}

.J-M {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.J-N {
  color: #999 !important;
}

.J-N-JT, .J-JK-JT {
  background: transparent !important;
  border: 1px solid transparent !important;
  color: #009999 !important;
}

.J-LC-JT {
  background-color: transparent !important;
  border: 1px solid transparent !important;
  color: #999 !important;
}

.J-Kh {
  border-color: #333 !important;
}

.aeN {
  background: #171717 !important;
  box-shadow: inset 0 0 5px #000 !important;
}

.T-I-KE {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.TO .n0 {
  color: #009999 !important;
}

.ain:not(#foo) {
  border-left: 4px solid #00ffff;
}

.nZ .nU:not(#foo), .nZ .n0:not(#foo) {
  color: #00ffff !important;
}

.NQ {
  background: #111 !important;
}

.aat .aik .nU:before, .aJZ.a0L .aik .nU:before {
  -webkit-filter: invert(100%);
  opacity: 1 !important;
}

.n4 {
  color: #999 !important;
}

.aeS {
  border-color: #333 !important;
}

.aj5.J-KU-Jg {
  border-top: none !important;
}

.wl, .wn, .wo, .wp, .wq {
  background: #222 !important;
}

.gb_td, .gb_oe {
  background: #222 !important;
}

.aeJ {
  background: #222 !important;
  padding-right: 50px !important;
  padding-left: 30px !important;
}

.aAy, .aKj {
  background: #333 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.J-KU-Jg-K9.aAA .J-KU-KO.aAy:not(#foo) {
  background: #111 !important;
}

.aRs {
  color: #999 !important;
  background-color: #171717 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.aKm, .J-KU-Jg-K9.aAA .aKi {
  background: transparent !important;
  border: none !important;
}

.aKo {
  background: transparent !important;
}

.aKz {
  color: #009999 !important;
}

.aKs {
  color: #999 !important;
}

.aKp {
  -webkit-filter: invert(100%);
}

.Cp {
  background: #222 !important;
  box-shadow: 3px 3px 3px #000 !important;
}

.F {
  border: 3px solid #333 !important;
  margin-top: 20px !important;
}

.yO {
  background: #171717 !important;
  color: #009999 !important;
}

.zE {
  background: #111 !important;
  color: #00ffff !important;
}

.xY {
  border-bottom: 1px solid #333 !important;
}

.pH {
  -webkit-filter: hue-rotate(130deg);
}

.UJ {
  border: none !important;
}

.TD, .UI .TB {
  background: transparent !important;
  border: none !important;
  color: #999 !important;
}

.iY .Bu {
  background: #222 !important;
}

.ajn {
  border: 1px solid #000 !important;
}

.ha {
  color: #009999 !important;
}

.kv .Bk .G2, .kQ .Bk .G2 {
  background: #171717 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.hx {
  background: #222 !important;
  border: 1px solid #000 !important;
  box-shadow: inset 0 0 5px #000 !important;
  padding-left: 8px !important;
}

.Bk {
  background: transparent !important;
}

.Bk .G2 {
  border: none !important;
}

.hx, .gD, .hx .gH {
  color: #999 !important;
}

.hp {
  border-top: 1px dotted #333 !important;
}

.ho .aZj {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.acX .aaq, .acX .aap {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.amn {
  background: #444 !important;
  border: 2px solid rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 5px #333 !important;
}

.aC3, .aC2 {
  background: transparent !important;
}

.hx .ie .xu .iq, .hx .h7 .ac5 .gB, .hx .h7 .acO {
  border-top: 1px solid #333 !important;
}

.nr:not(#foo) {
  border: none !important;
}

.HM .IG {
  background: #222 !important;
  border: 1px solid #000 !important;
  box-shadow: 0 2px 5px #000 !important;
}

.Un {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.mL {
  -webkit-filter: invert(100%);
}

.Am, .aoP .Ar, .HM .iN {
  background: #444 !important;
}

.HM .iN {
  border: 1px solid #000 !important;
  box-shadow: inset 0 0 5px #000 !important;
}

.GQ, .Ap {
  background: transparent !important;
}

.Ar {
  color: #999 !important;
}

.aDh {
  background: #333 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.gU {
  background: transparent !important;
}

.HM .aDj {
  border: 1px solid transparent !important;
}

.T-I-atl, .wG, .Xv {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.gU .aaA {
  -webkit-filter: invert(100%);
}

.Uz {
  background: #222 !important;
  border-color: #222 !important;
}

.e, .x2, .anQ {
  color: #009999 !important;
}

.am6 {
  border-top: 1px solid #333 !important;
}

.r4 {
  background: transparent !important;
}

.v .f1 {
  background: #333 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.v .fZ {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
}

.v .fY {
  background: transparent !important;
  margin-left: 30px !important;
}

.r7 td.r8, .r7 td.r9 {
  border-color: #333 !important;
}

.alO {
  background: transparent !important;
}

.rZ {
  background: #333 !important;
}

.sA, .r4 .e, .alP, .ri, .rd {
  color: #009999 !important;
}

.Ze {
  background: transparent !important;
}

.age {
  background: transparent !important;
}

.MT {
  background: transparent !important;
  color: #999 !important;
}

.ML {
  border-color: #333 !important;
}

.Rd {
  background: #171717 !important;
  border: 1px solid #000 !important;
  box-shadow: inset 0 0 5px #444 !important;
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.R5, .ab0, .abX .abY {
  color: #009999 !important;
}

.RV {
  background: transparent !important;
}

.RU .RT .R5, .RU .R5, .RT .R5 {
  background: #444 !important;
  border: 2px solid rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 5px #333 !important;
}

.acw {
  padding-right: 20px !important;
}

.T-I-ax7 {
  background: #111 !important;
  border: 1px solid #111 !important;
  box-shadow: inset 0 0 5px #555 !important;
  color: #009999 !important;
}

.abh .abl, .abg.abl, .abp .abo {
  border-color: #333 !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.PI.ako {
  margin-left: 15px !important;
}

.Hd {
  background: #111 !important;
  border: 1px solid #000 !important;
  box-shadow: 0 2px 5px #000 !important;
}

.Hy .o, .Hy .m, .Hy .n, .Hy .k {
  background: transparent !important;
}

.Hp {
  color: #009999 !important;
}

.aaZ {
  background: #222 !important;
  border: none !important;
  border-top: 1px solid #000 !important;
}

.az9 {
  color: #999 !important;
}

.wO {
  background: transparent !important;
}

.vT {
  color: #999 !important;
}

.vN {
  background: #111 !important;
  border-color: #000 !important;
}

.vO, .vO:focus, .aoT {
  background: #444 !important;
  border: 2px solid rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 5px #333 !important;
  color: #999 !important;
}

.aiv {
  background: #222 !important;
}

.ah .Jd-Je {
  background: #333 !important;
}

.aoC .aoD, .aoC .hl, .aoC .fX {
  border-color: #333 !important;
}

.aoI {
  color: #999 !important;
}

.aoC .gU {
  border-top: none !important;
}

.iN {
  background: #444 !important;
  border: 2px solid rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 5px #333 !important;
}

.l2 {
  margin-right: 45px !important;
}

.l7 {
  background: #009999 !important;
}

.gb_ka {
  background-color: #444 !important;
}

.gb_Fa {
  background-color: #333 !important;
  color: white !important;
  border: 1px solid white !important;
}

.gb_Fa:hover {
  background-color: black !important;
}

.gb_ga {
  color: white !important;
}

.gb_jb {
  border-bottom-color: #444 !important;
}

.J-Z-I-KO, .J-Z-I-Jp, .J-Z-M-I-Kq {
  background: transparent none !important;
}

.biy.Je, .biy, .a8t, .a8K, .a8q, .a8L, .a8H, .a8o {
  background-image: url("http: //i.imgur.com/WTWAboq.png") !important;
}

.S2zqnf>.ydLZ9 {
  fill: white !important;
}
