/*
  Parts of this code is inspired from the following:
  [1] https://userstyles.org/styles/139018/dark-style-instagram-with-your-background
*/

::-webkit-scrollbar-track {
  background-color: #000000 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px !important;
  background-color: #42aaff !important;
  -webkit-border-radius: 0px !important;
}

::-webkit-scrollbar {
  width: 4px !important;
}

._lv5ky {
  background: #101010 !important;
}

span button {
  color: white !important;
}

._p0jkg {
  background: #101010 !important;
}

._pj9fx {
  background: #101010 !important;
}

._4d1le {
  background: #101010 !important;
}

._qs5p4 {
  border-radius: 12px !important;
}

._qy55y {
  border-radius: 12px !important;
}

._98hun {
  border-radius: 15px !important;
}

._jx516 ._4j13h {
  display: none !important;
}

._6ltyr, ._6ltyr._oc2y0 {
  background-image: url(/*[[img]]*/) !important;
}

._6v8vp {
  background-color: #101010 !important;
  border-bottom: 1px solid #151515 !important;
}

._qs5p4 {
  background-color: #101010 !important;
  border-bottom: 0px solid #151515 !important;
}

._mn52b span {
  color: white !important;
}

._82fo9, ._cag6k, ._gs7sp, ._h2d1o, ._s6b3o {
  border: 1px solid #101010 !important;
}

._bfc7q {
  background-color: #101010 !important;
  border-bottom: 1px solid #151515 !important;
}

.coreSpriteBoomerang,
.coreSpriteCameraActive,
.coreSpriteMobileNavLogo,
.coreSpriteCameraInactive,
.coreSpriteChevronDownGrey,
.coreSpriteLoggedOutWordmark,
.coreSpriteMobileNavHomeActive,
.coreSpriteMobileNavHomeInactive,
.coreSpriteMobileNavSearchActive,
.coreSpriteMobileNavProfileActive,
.coreSpriteMobileNavSearchInactive,
.coreSpriteMobileNavActivityActive,
.coreSpriteNotificationLeftChevron,
.coreSpriteMobileNavProfileInactive,
.coreSpriteMobileNavActivityInactive {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

._q605d {
  background-color: #202020 !important;
}

._ti7fv {
  color: #D9D9D9 !important;
}

._pnw2j {
  background: #151515 !important;
  border: solid 1px #202020 !important;
}

._k2vj6 {
  border-bottom: solid 1px #202020 !important;
}

._qfezm {
  color: #D9D9D9 !important;
}

._xk9bu {
  background: #101010 !important;
}

._j4qra ._qasqy {
  color: #A4A4A4 !important;
}

._o1o4h {
  background: #151515 !important;
  border: solid 1px #202020 !important;
}

._o1o4h::after {
  border-color: transparent transparent #151515 transparent !important;
}

._j4qra._o1o4h, ._j4qra ._pnw2j, ._j4qra ._q6fzq {
  border: solid 1px #202020 !important;
}

._j4qra ._k2vj6 {
  border-bottom: solid 1px #202020 !important;
}

._4zhc5.notranslate._j7lfh,
._4zhc5.notranslate._j7lfh:visited {
  color: #D9D9D9 !important;
}

._2uju6 {
  color: #A4A4A4 !important;
}

._qfu95 {
  border-color: transparent transparent #151515 transparent !important;
}

._f8scm {
  background: #151515 !important;
  border: 1px solid #202020 !important;
}

._57q29 {
  background-color: #151515 !important;
  border: solid 1px #202020 !important;
}

._mkiio {
  border-bottom: 1px solid #202020 !important;
}

._mkiio::after {
  border-bottom: 0px !important;
}

._auspy {
  color: #A4A4A4 !important;
}

a._4zhc5._gpve0 {
  color: #D9D9D9 !important;
}

._dzx3o {
  border-color: #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._ebwb5._1tv0k,
._soakw._vbtk2.coreSpriteDesktopNavExplore,
._soakw._vbtk2.coreSpriteDesktopNavProfile,
._p4cxt._soakw.coreSpriteLoggedOutWordmark,
._im3et._vbtk2.coreSpriteDesktopNavActivity,
._im3et._soakw._vbtk2.coreSpriteDesktopNavActivity,
._1b8in._soakw.coreSpriteDesktopNavLogoAndWordmark {
  color: #fff !important;
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

._6ltyr, ._6ltyr._oc2y0 {
  background-color: #202020 !important;
}

._8ab8k, ._82fo9, ._gs7sp, ._cag6k, ._s6b3o {
  border: 0 solid #000 !important;
}

._8ab8k, ._82fo9, ._gs7sp, ._cag6k, ._s6b3o {
  background-color: #101010 !important;
}

.-cx-PRIVATE-Photo__clickShield, .p68, ._ovg3g {
  display: none !important;
}

._3sst1 {
  color: #D9D9D9 !important;
}

._mjnfc {
  border: solid 1px #202020;
  color: #D9D9D9 !important;
}

._6k2u3, ._mjnfc {
  background: #202020 !important;
}

._6k2u3 {
  border: 1px solid #202020 !important;
}

._kt12n {
  border-color: #202020 transparent transparent transparent !important;
}

._4zhc5.notranslate._ook48,
._4zhc5.notranslate._iqaka,
._4zhc5.notranslate._ook48:visited,
._4zhc5.notranslate._iqaka:visited {
  color: #D9D9D9 !important;
}

._379kp {
  color: #D9D9D9 !important;
}

._kul9p ._rnlnu {
  color: #3897f0 !important;
}

._22yr2 {
  background-color: #101010 !important;
}

._jjzlb {
  background-color: #101010 !important;
}

._pieko ._e0mru {
  border-top: 1px solid #202020 !important;
  border-bottom: 1px solid #202020 !important;
}

._jveic {
  border-top: 1px solid #202020 !important;
}

._tf9x3 {
  color: #D9D9D9 !important;
}

._oajsw {
  color: #A4A4A4 !important;
}

._lx2l2, ._lx2l2:visited {
  color: #D9D9D9 !important;
}

a, a:visited {
  color: #3897f0 !important;
}

._nk46a h1 {
  padding-bottom: 13px !important;
  border-bottom: 1px solid #202020 !important;
}

._4zhc5._iqaka,
._r3m3z ._iqaka,
._r3m3z ._iqaka:visited {
  color: #D9D9D9 !important;
}

._nk46a {
  color: #A4A4A4 !important;
}

.coreSpriteHeartOpen {
  color: #fff;
  -webkit-filter: invert(100%) !important;
  filter: invert(100%) !important;
}

.coreSpriteHeartFull {
  color: #fff;
  -webkit-filter: invert(100%) !important;
  filter: invert(100%) !important;
}

._7uiwk._qy55y {
  color: #D9D9D9 !important;
}

._4y3e3 {
  background-color: #101010 !important;
  color: #D9D9D9 !important;
}

._4y3e3:hover {
  background-color: #202020;
  color: #D9D9D9 !important;
}

._bt6iq, ._gwvmk {
  border-bottom: 1px solid #202020 !important;
}

._bade0 ._bt6iq {
  border-color: #202020 !important;
}

._de9bg {
  color: #D9D9D9 !important;
}

._56pjv, ._56pjv:visited {
  color: #3897f0 !important;
}

._bkw5z {
  color: #CBC8C4 !important;
}

._q44m8 {
  background: #101010;
  color: #D9D9D9 !important;
  border-bottom: solid 1px #202020 !important;
}

._4j13h {
  background: #101010 !important;
}

._cx1ua {
  border-bottom: solid 1px #202020 !important;
}

._4gt3b {
  background: #101010 !important;
}

._a1rcs {
  background-color: rgba(0, 0, 0, .75) !important;
}

._76rrx {
  border: 1px solid #101010 !important;
  background-color: #101010 !important;
}

._27u4n, ._glq0k {
  color: #D9D9D9 !important;
}

._3p78u {
  border: 1px solid #101010 !important;
}

._28ejm, ._28ejm::before {
  background: #101010 !important;
}

._5dhxo, ._eawvx, ._n7ag9 {
  color: #D9D9D9 !important;
}

._owacc {
  background: #202020 !important;
  border: 1px solid #202020 !important;
}

._77kjb, ._77kjb:visited {
  color: #D9D9D9 !important;
}

._a34td {
  color: #A4A4A4 !important;
}

.coreSpriteEllipsis,
.coreSpriteFacebookIcon,
.coreSpriteDropdownArrowGrey9,
.coreSpriteDropdownArrowWhite {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

._769lo {
  background-color: #101010 !important;
  border: 1px solid #151515 !important;
}

._bgfey, ._dqwbs ._j7lfh, ._dqwbs ._j7lfh:visited {
  color: #D9D9D9 !important;
}

._dqwbs ._2uju6 {
  color: #A4A4A4 !important;
}

._dqwbs ._cx1ua {
  border-bottom: solid 1px #202020 !important;
}

a._gmhuy._kul9p,
a._gmhuy._kul9p:hover,
a._gmhuy._kul9p:visited {
  color: #A4A4A4 !important;
}

._tjnr4 ._ksjel {
  background-color: #101010 !important;
  border: 1px solid #151515 !important;
}

._28qeb ._s6yvg {
  border-bottom: 1px solid #202020 !important;
}

._j5hrx {
  background-color: #101010 !important;
}

._djxz1 ._s6yvg {
  border-bottom: 1px solid #202020 !important;
}

._totu9 {
  color: #D9D9D9 !important;
}

._s53mj, ._s53mj:hover {
  color: #A4A4A4 !important;
}

._oofbn, ._tn2fu {
  background-color: #101010 !important;
}

._17z9g,
._fw3ds a,
._fw3ds a:visited {
  color: #3897f0 !important;
}

._es4h6 {
  color: #D9D9D9 !important;
}

._fqv9h {
  border: 1px solid #101010 !important;
}

._fqv9h {
  background-color: #101010 !important;
}

._1sfqp {
  color: #D9D9D9 !important;
}

._7ofqm, ._ornfb {
  color: #D9D9D9 !important;
}

a._19gtn {
  color: #3897f0 !important;
}

._auofl {
  color: #3897f0 !important;
}

._eeitw {
  color: #D9D9D9 !important;
}

._d16kf ._kp5f7 {
  color: #D9D9D9 !important;
}

._nvyyp {
  background-color: #101010 !important;
  border: 1px solid #101010 !important;
}

._kp5f7 {
  border: 1px solid #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._kp5f7 ._qy55y {
  color: #D9D9D9 !important;
}

._dyp7q {
  color: #D9D9D9 !important;
}

._40h7m {
  background-color: #101010 !important;
  border: #151515 !important;
}

._9hbou,
._9hbou:hover,
._9hbou:visited,
._9hbou:active {
  color: #D9D9D9 !important;
}

._g2cyn {
  border-right: 1px solid #D9D9D9 !important;
}

._e5cd3 {
  color: #D9D9D9 !important;
}

._891mt {
  color: #D9D9D9 !important;
}

._cm95b {
  border: 1px solid #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._9pfjt, ._g6a4a {
  border: 1px solid #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._lxlnj {
  color: #D9D9D9 !important;
}

._1n8j5 {
  border: 1px solid #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._aoi9w {
  color: #D9D9D9 !important;
}

._m2kht {
  border-color: #D9D9D9 !important;
  color: #D9D9D9 !important;
}

._p4g7n {
  color: #D9D9D9 !important;
}

._b7k3d {
  background-color: #202020 !important;
  box-shadow: 0 0 10px 0 #151515 !important;
}

._4werj, ._fajzv {
  background: #202020 !important;
}

._fajzv {
  box-shadow: 0 0 10px 0 #151515 !important;
}

._i69w7 {
  color: #D9D9D9 !important;
}

._8yfzj, ._hn699 {
  background: #202020 !important;
}

._hn699 {
  box-shadow: 0 0 10px 0 #151515 !important;
}
