html {background-color: rgb(22, 22, 22) !important}

html, iframe {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

em,
img,
svg,
image,
video,
audio,
embed,
object,
button,
figure:empty {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

[style*='background:url']:not(html):not(body):not(input),
[style*='background: url']:not(html):not(body):not(input),
[style*='background-image']:not(html):not(body):not(input) {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}
